[submodule "include/sokol_gp"]
	path = include/sokol_gp
	url = https://github.com/edubart/sokol_gp.git
[submodule "include/sokol"]
	path = include/sokol
	url = https://github.com/floooh/sokol.git
[submodule "include/imgui"]
	path = include/imgui
	url = https://github.com/ocornut/imgui.git
