[submodule "include/sokol_gp"]
	path = include/sokol_gp
	url = https://github.com/edubart/sokol_gp.git
[submodule "include/sokol"]
	path = include/sokol
	url = https://github.com/floooh/sokol.git
[submodule "include/imgui"]
	path = include/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "include/backward-cpp"]
	path = include/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "include/rlImGui"]
	path = include/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
[submodule "include/raylib"]
	path = include/raylib
	url = https://github.com/raysan5/raylib.git
